@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(to bottom, #4b4b57, #111);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 60px;
    border-radius: 20px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 40px;
    border-bottom: 2px solid #888;
    display: inline-block;
    padding-bottom: 15px;
    font-family: Italiana;
    font-weight: lighter;
}

.form-group {
    text-align: left;
    margin-bottom: 35px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: Gotu;
}

input {
    width: 100%;
    padding: 14px;
    border: none;
    border-bottom: 2px solid #aaa;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 1.4rem;
}

input:focus {
    border-bottom: 2px solid #fff;
}

.login-btn, .register-btn {
    background: #cccccc;
    color: #000;
    border: none;
    border-radius: 35px;
    padding: 15px 45px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 25px;
    transition: all 0.3s ease;
    font-family: Italiana;
}

.login-btn:hover, .register-btn:hover {
    background: #ddd;
}

.register-text {
    margin-top: 30px;
    font-size: 1.3rem;
}

.link {
    text-decoration: none;
    color: inherit;
}

#email{
    font-family: Italiana;
}

#password{
    font-family: Italiana;
}
